/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "urbane-adscript", sans-serif;
}

/* Main content */
main {
    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

#hero {
    height: 100vh;
    width: 100vw;
    background: url("../assets/Sam-Photoshoot.jpg") no-repeat center / cover;
    position: relative;
    display:flex;
}

#cover-text 
{
    background-color: rgba(112, 106, 106, 0.7);
    font-size: 130%;
    position: absolute;
    top: 50vh;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

a:hover{color:orange}

/* Footer Styles */
    #social-networks {
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        background-color: #3a3a3a;
    }
    
    #social-networks i {
        font-size: 400%;
        color: #ffffff;
    }

